
.responsiveImage {
    height: 350px;
    width: auto;
    object-fit: cover;
  }
    
  /* On screens that are 600px or less*/
  @media screen and (max-width: 600px) {
    .responsiveImage {
      height: 400px;
    }
  }
